.navbar-form {
  margin-bottom: 0;
}

.navbar-form {
  overflow: auto;
}
/*.navbar-form .form-control {
  display: table !important;
  display: inline-block;
  width: 100%;
  vertical-align: middle;
}
.navbar-form .input-group {
  display: inline;
}*/
.navbar-form .input-group .input-group-btn {
  width: 1%;
}

@media (min-width: 992px) {
  /*.navbar-form .input-group {
    float: left;
  }*/
  /*.col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }*/
  .navbar-form .input-group, .navbar-form .select2-container {
    width: 66.66666667%;
  }
  /*.col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }*/
}

@media (min-width: 768px) and (max-width: 991px) {
  .select2-chosen {
    width: 130px !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {
  .select2-chosen {
    width: 350px !important;
  }
}

/*.select2-container {
  display: block;
}*/

.form-control + .input-group-btn {
  display: none;
}
.select2-container ~ .input-group-btn {
  display: table-cell;
}
